<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Icone -->
  <link rel="shortcut icon" href="./assets/images/user-solid.svg" type="image/svg">
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  <!-- Fim font -->
  <script src="https://kit.fontawesome.com/177f0e37f6.js" crossorigin="anonymous"></script>
  <link href="./css/cadastro.css" rel="stylesheet">
  <title>Cadastro</title>
</head>
<body>
  <main>
      <br>
      <div class="container-form">
         <form class="form" action="login.html" method="post">
              <span class="titulo">Crie sua conta para aproveitar o</span>
              <div class="Brazu">
              <img src="img/Brazurista.png" class="logo"> </img>
              </div>
              <div class="container-input">
              <input class="digitar" type="text" name="Nome" placeholder="Nome" required maxlength="100" />
              <input class="digitar" type="text" name="CPF" placeholder="CPF" required maxlength="14" />
              <input class="digitar" type="cpf" name="Sobrenome" placeholder="Sobrenome" required maxlength="100"/>
              <input class="digitar" type="email" name="Criar uma senha" placeholder="Endereço de Email" required maxlength="100" />
              <input class="digitar" type="password" name="Endereço de email" placeholder="Criar uma senha" required maxlength="100" />
            </div>
              <div class="container-btn">
              <input class="botao" type="submit" value="Criar sua conta" />
              <div class="container-termo">
              <input class="termo" id="termo" type="checkbox" name="termos" required />
              </div>
              <div class="">
                <input type="checkbox" class="check"> <label for="">Li e aceito os <a href="termo-de-uso.html">Termos de uso</a>e confirmo que li a Politica de privacidade e cookies</label>
              </div>
              <div class="opcao">
                <br>
                <span class="cadastro"> --- ja tem uma conta? ---</span>
                <br>
                <a href="login.html" >Entrar com sua conta</a>
              </div>
            </div>
          </form>
      </div>
    </div>
</main>
</body>
</html>